<div class="timetable-editor">
  <%= hidden_field_tag :event_id, @timetable.event.slug %>
  <aside>
    <header>
      <%= popup_menu "", rel: "activity-type" do %>
        <%= action_list -%>
      <% end -%>
    </header>
    <div class="activity-list"></div>
  </aside>

  <div class="timetable"></div>
</div>
