// Typography
$base-font-family: "Raleway", $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 0.875rem;
$base-font-weight: 300;
$bold-font-weight: 600;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0.25rem;
$base-spacing: 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-background-color: $white;
$base-font-color: text-color();
$action-color: $pink;
$error-color: $red;

// Border
$base-border-color: divider-color();
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: none; //inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: none; //$form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

$fast: 0.25s;
$medium: 0.5s;
$slow: 1s;

$icon-size: 1.5rem;

$sidebar-z-index: 300;
$sidebar-header-background: $cyan-600;

$page-header-z-index: 100;
$page-header-height: 4rem;
$page-header-height-mobile: ($page-header-height * 0.875);
$page-header-background: $cyan-700;
$page-header-color: $white;

$page-gutter: 4.5rem;

$card-border-radius: 0.125rem;
$card-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.125rem rgba(0, 0, 0, 0.24);

$tab-height: 3rem;

$dialog-z-index: 400;

$floating-action-button-z-index: 200;

$popup-menu-z-index: 100;
