<li class="event">
  <header style="background-image: url(<%= event.photo_url || placeholder_image_url(width: 400, height: 400, sequence: event.id) %>)">
    <h2><%= link_to event.name, event_path(event) %></h2>
    <h3><%= date_range(event.dates) %></h3>
  </header>
  <footer>
    <%= render partial: "registrations/summary", locals: { event: event, registration: homepage_event_registration_for_user(current_user), show_event_link: false } %>
  </footer>
</li>
