ul.action-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    a {
      @include display(flex);

      &:hover {
        background: rgba($black, 0.06666667);
      }

      > i {
        width: 3.5rem;
        height: 2.5rem;
        padding: 0.5rem 1rem;
        color: icon-color();
      }

      > span {
        padding: 0.5rem 1rem;
        line-height: 1.5rem;
        @include ellipsis;
        color: text-color();

        &:first-of-type {
          @include flex(1);
        }

        + span {
          text-align: right;
          color: secondary-color();
        }
      }
    }
  }
}
