.dialog {
  z-index: $dialog-z-index;
  @include position(fixed, 0rem 0rem 0rem 0rem);

  &::before {
    content: "";
    @include position(fixed, 0rem 0rem 0rem 0rem);
    background: dark-scrim-color();
    opacity: 0;
    @include transition(opacity $medium $ease-out-cubic);
  }

  .dialog-wrapper {
    @include position(fixed, 0rem 0rem 0rem 0rem);
    @include transition-property(transform);
    @include transition-duration($medium);
    @include transition-timing-function($ease-out-cubic);
    @include transform(translateY(100%));
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include align-items(center);
  }

  .dialog-container {
    @include flex-direction(column);
    width: 100%;
    min-width: 17.5rem;
    background: $white;
    box-shadow: $z4-shadow;
  }

  .dialog-content {
    padding: 1.5rem;
  }

  .dialog-title {
    font-size: 1.25rem;
    font-weight: $bold-font-weight;
    line-height: 1.25em;
    margin: 0 0 1.25rem;
  }

  .dialog-footer {
    padding: 0.5rem;
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-end);
    @include flex-wrap(wrap);

    button {
      background: none;
      color: $action-color;
      margin: 0;
      text-align: center;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &:disabled {
        color: disabled-color($action-color);
      }
    }
  }

  &.in {
    &::before {
      opacity: 1;
    }

    .dialog-wrapper {
      @include transform(translateY(0%));
    }

    + .page-container {
      @include filter(blur(2px));
    }
  }

  @include media($medium-screen) {
    .dialog-wrapper {
      @include justify-content(center);
    }

    .dialog-container {
      border-radius: $base-border-radius;
      max-width: 30rem;
      max-height: 90vh;
    }
  }
}
