.field.floating-label {
  position: relative;
  padding-top: 2rem;
  box-sizing: border-box;

  > input,
  > textarea {
    margin: 0 0 0.5rem;
    height: 2rem;

    &[type="text"] {
      line-height: 2rem;
    }
  }

  > textarea {
    line-height: $base-line-height;
    box-sizing: content-box;
    height: 1.5em;
  }

  > label {
    @include position(absolute, 2rem null null 0rem);
    @include transition(all $fast $ease-out-cubic);
    font-size: 1em;
    line-height: 2rem;
    pointer-events: none;
    color: secondary-color();
  }

  &.has-value > label,
  > :focus ~ label {
    @include position(absolute, 1rem null null 0rem);
    font-size: 0.75rem;
    line-height: 1rem;
  }

  > :focus ~ label {
    color: $action-color;
  }

  > :invalid ~ label,
  &.has-errors label {
    color: $error-color !important;
  }

  > :invalid,
  &.has-errors input,
  &.has-errors textarea {
    border-bottom-color: $error-color;
  }
}
