.field.floating-label {
  position: relative;
  padding-top: 2rem;
  box-sizing: border-box;

  > input {
    margin: 0 0 0.5rem;
    height: 2rem;

    &[type="text"] {
      line-height: 2rem;
    }
  }

  > label {
    @include position(absolute, 2rem null null 0rem);
    @include transition(all $fast $ease-out-cubic);
    font-size: 1em;
    line-height: 2rem;
    pointer-events: none;
    color: secondary-color();
  }

  &.has-value > label,
  > input:focus ~ label {
    @include position(absolute, 1rem null null 0rem);
    font-size: 0.75rem;
    line-height: 1rem;
  }

  > input:focus ~ label {
    color: $action-color;
  }

  > input:invalid ~ label,
  &.has-errors label {
    color: $error-color !important;
  }

  > input:invalid,
  &.has-errors input {
    border-bottom-color: $error-color;
  }
}
