.popup {
  position: relative;
}

.popup-toggle {
  @include display(flex);
  position: relative;
  color: text-color();
  border-bottom: 0.0625rem solid divider-color();
  box-sizing: border-box;
  height: 2.5em;

  &:hover, &:focus {
    color: text-color();
  }

  .icon-arrow-drop-down {
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
  }
}

.popup-toggle-label {
  @include flex(1);
  @include ellipsis;
  line-height: 1.5rem;
  padding: 0.5rem 0;
}

.popup-menu {
  display: none;
  @include position(absolute, -0.5rem -0.5rem null -0.5rem);
  box-shadow: $z2-shadow;
  background: $white;
  border-radius: $base-border-radius;

  ul {
    margin: 0;
    padding: 0.5rem 0;
    list-style: none;

    + ul {
      margin-top: 0.5rem;
      border-top: 1px solid divider-color();
    }
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    margin: 0;
    padding: 0.5rem;
    color: text-color();

    &:hover {
      background: rgba($cyan-200, 0.5);
    }
  }

  .action-list a {
    padding: 0;
  }
}

.popup.open {
  z-index: $popup-menu-z-index;

  .popup-menu {
    display: block;
  }
}
