@font-face {
  font-family: "icons";
  src: font-url("icons_71718cdd998175254a235be6d139ae2d.eot");
  src: font-url("icons_71718cdd998175254a235be6d139ae2d.eot?#iefix") format("embedded-opentype"),
       font-url("icons_71718cdd998175254a235be6d139ae2d.woff") format("woff"),
       font-url("icons_71718cdd998175254a235be6d139ae2d.ttf") format("truetype"),
       font-url("icons_71718cdd998175254a235be6d139ae2d.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: font-url("icons_71718cdd998175254a235be6d139ae2d.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add-event:before,
.icon-arrow-drop-down:before,
.icon-block:before,
.icon-logout:before,
.icon-menu:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add-event:before { content: "\f103"; }
.icon-arrow-drop-down:before { content: "\f102"; }
.icon-block:before { content: "\f101"; }
.icon-logout:before { content: "\f104"; }
.icon-menu:before { content: "\f100"; }
