.itinerary.editor {
  .days {
    .day {
      margin: 0 0 1rem;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1;
    }

    h4 {
      @include display(flex);
      @include justify-content(flex-start);

      .activity-types {
        margin-left: 0.5rem;
        color: secondary-color();
      }
    }
  }

  .scheduled-activities {
    margin: 0 -0.25rem;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    article {
      @include flex(1 0 35%);
      margin: 0 0.25rem 0.5rem;
    }

    @include media($medium-screen) {
      article {
        @include flex-basis(25%);
      }
    }

    @include media($large-screen) {
      article {
        @include flex-basis(20%);
      }
    }
  }
}

.scheduled-activity {
  @include display(flex);
  @include flex-direction(column);
  @include transition(all $fast $ease-out-cubic);
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;

  &.open {
    opacity: 0;
    box-shadow: none;
  }

  header {
    position: relative;
    margin: 0;
    padding: 56.25% 0 0; // 16:9
    overflow: hidden;

    img {
      @include position(absolute, 0rem 0rem null 0rem);
      @include border-top-radius($card-border-radius);
      width: 100%;
      height: auto;
    }
  }

  .description {
    display: none;
  }

  footer {
    @include flex(1);
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    padding: 0.5rem;

    > * {
      width: 100%;
    }

    h4 {
      font-weight: $bold-font-weight;
      margin: 0;
    }

    .buttons {
      @include align-self(flex-end);
      margin: 0 -0.5rem -0.5rem;

      button {
        background: none;
        color: $action-color;
        padding: 0.5rem;
        min-width: 0;
        max-width: 100%;
        @include ellipsis;

        &:disabled {
          opacity: 1;
          color: disabled-color();
        }

        &[rel="unbook"] {
          color: $green;
        }

        &[rel="sold-out"] {
          color: $error-color;
        }
      }
    }
  }

  &:not([data-state~="selected"]) button[rel="unbook"],
  &:not([data-state~="sold_out"]) button[rel="sold-out"],
  &[data-state~="available"] button[rel="limited"],
  &[data-state~="restricted"] button[rel="limited"],
  &[data-state~="selected"] button[rel="limited"],
  &[data-state~="sold_out"] button[rel="limited"],
  &[data-state~="unlimited"] button[rel="limited"],
  &[data-state~="selected"] button[rel="sold-out"],
  &[data-state~="sold_out"]:not([data-state~="selected"]) button[rel="book"],
  &[data-state~="limited"] button[rel="book"],
  &[data-state~="unavailable"] button[rel="book"],
  &[data-state~="selected"] button[rel="book"] {
    display: none;
  }

  &[data-state~="sold-out"]:not([data-state~="booked"]),
  &[data-state~="restricted"],
  &[data-state~="unavailable"],
  &[data-state~="limited"] {
    opacity: $disabled-alpha;

    .buttons button:disabled {
      opacity: 1;
      color: secondary-color();

      &[rel="sold-out"] {
        color: $error-color;
      }
    }
  }
}

.itinerary.editor {
  @include position(fixed, $page-header-height-mobile 0rem 0rem 0rem);
  @include display(flex);
  @include flex-direction(column);

  > .days {
    @include flex(1);
    overflow-y: auto;
    padding: 1rem;
  }

  > aside {
    @include flex-shrink(0);
    @include display(flex);
    @include align-items(flex-start);
    background: $accent-100;
    padding: 1rem;

    ul {
      @include flex(1);
    }

    li {
      @include display(flex);
      @include align-items(center);
      white-space: nowrap;

      .progress {
        @include flex(2);
        position: relative;
        height: 0.25rem;
        margin-right: 1rem;
        background: divider-color();
        border-radius: 1px;

        .bar {
          @include position(absolute, 0rem null 0rem 0rem);
          background-color: $green;
          max-width: 100%;
          border-radius: 1px;
          @include transition(width, $fast, $ease-out-cubic);
        }
      }

      .limit {
        @include flex(1 0 5em);
        @include ellipsis;
      }
    }

    button {
      @include display(flex);
      margin-left: 1rem;

      .full, .done { display: none; }

      .check {
        width: 0;
        height: 2rem;
        margin: -0.25rem 0;

        circle {
          display: none;
        }

        polyline {
          stroke: $green;
          stroke-width: 2;
          stroke-dasharray: 28;
          stroke-dashoffset: 28;
          @include transition(stroke-dashoffset $medium $ease-in-cubic);
          @include transition-delay($medium);
        }
      }

      &.saved {
        background: none;
        color: $green;
        opacity: 1;
        cursor: default;

        .check {
          width: 2rem;
          margin-right: 0.5rem;

          polyline {
            stroke-dashoffset: 0;
          }
        }

        .full, .short { display: none; }
        .done { display: block; }
      }
    }
  }

  @include media($medium-screen) {
    top: $page-header-height;

    > aside {
      padding: 1rem $page-gutter;

      button {
        .full { display: inline; }
        .short { display: none; }
      }
    }

    .days {
      padding: 1rem $page-gutter;
    }
  }
}

.activity-details {
  .dialog-wrapper {
    position: absolute;
    right: auto;
    bottom: auto;
    @include transition(none);
    @include transform(none);
  }

  .dialog-container {
    @include flex(1);
    @include display(flex);
    @include flex-direction(column);
    min-width: 0;
    @include transition(border-radius $medium $ease-out-cubic);
  }

  .dialog-content {
    @include flex(1);
    padding: 0;

    header {
      position: relative;
      overflow: hidden;

      .header-color {
        @include position(absolute, 0rem 0rem 0rem 0rem);
        z-index: 1;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &::after {
        content: "";
        opacity: 0;
        @include position(absolute, 0rem 0rem 0rem 0rem);
        @include linear-gradient(rgba(0, 0, 0, 0), dark-scrim-color());
        @include transition(opacity $medium $ease-out-cubic);
      }

      h4 {
        @include position(absolute, null 0rem 0rem 0rem);
        z-index: 2;
        opacity: 0;
        margin: 0;
        padding: 1rem 3.5rem 1rem 1rem;
        font-weight: $bold-font-weight;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: white;
        @include transition(opacity $medium $ease-out-cubic);
      }

      [rel="cancel"] {
        @include position(absolute, 0rem 0rem null null);
        z-index: 3;
        color: white;
        padding: 1rem;
      }
    }

    .description {
      padding: 1rem;
    }
  }

  .dialog-footer {
    @include justify-content(space-between);
    border-top: $base-border;
    padding-top: 0.4375rem;

    button:not([rel="book"]) {
      display: none;
    }
  }

  &.in {
    .dialog-container {
      border-radius: 0;
    }

    .dialog-content header {
      h4, &::after {
        opacity: 1;
      }
    }

    .dialog-footer button {
      display: block;
    }
  }
}

.itinerary.list {
  .empty {
    color: disabled-color();
    
    button {
      display: block;
    }
  }
  
  @media screen {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    h1 {
      width: 100%;
    }

    .main {
      @include order(1);
      @include flex(2 0 60%);
    }
    
    aside {
      @include flex(1 0 14rem);
    }
  }
  
  h2 {
    margin: 0 0 0.5rem;
    border-bottom: $base-border;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  
  section {
    margin: 0 0 1rem;
  }
  
  .activity-list {
    article {
      @include display(flex);
      @include flex-direction(row);
      margin: 0 0 0.5rem;
      
      .times {
        @include flex(1);
        color: secondary-color();
        margin-right: 1rem;
      }
      
      .details {
        @include flex(2);
        
        h4 {
          line-height: 1.5em;
          font-size: 100%;
          margin: 0;
        }
      }
    }
  }

  @include media($medium-screen) {
    .main {
      @include order(0);
      margin-right: 1rem;
    }
  }
  
  @media print {
    .activity-list article {
      display: block;
      
      .times {
        width: 30%;
      }
      
      .details {
        margin: -1.5em 0 1rem 30%;
        
        a { color: secondary-color(); }
      }
    }
    
    aside {
      display: none;
    }
  }
}