.itinerary {
  .days {
    .day {
      margin: 0 0 1rem;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1;
    }

    h4 {
      @include display(flex);
      @include justify-content(space-between);
    }
  }

  .scheduled-activities {
    margin: 0 -0.25rem;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }

  article {
    @include flex(1 0 35%);
    margin: 0 0.25rem 0.5rem;
  }

  @include media($medium-screen) {
    article {
      @include flex-basis(25%);
    }
  }

  @include media($large-screen) {
    article {
      @include flex-basis(20%);
    }
  }
}

.scheduled-activity {
  @include display(flex);
  @include flex-direction(column);
  @include transition(all $fast $ease-out-cubic);
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;

  &.open {
    opacity: 0;
    box-shadow: none;
  }

  header {
    position: relative;
    margin: 0;
    padding: 56.25% 0 0; // 16:9
    overflow: hidden;

    img {
      @include position(absolute, 0rem 0rem null 0rem);
      @include border-top-radius($card-border-radius);
      width: 100%;
      height: auto;
    }
  }

  .description {
    display: none;
  }

  footer {
    @include flex(1);
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    padding: 0.5rem;

    > * {
      width: 100%;
    }

    h4 {
      font-weight: $bold-font-weight;
      margin: 0;
    }

    .buttons {
      @include align-self(flex-end);
      margin: 0 -0.5rem -0.5rem;

      button {
        background: none;
        color: $action-color;
        padding: 0.5rem;
        min-width: 0;
        max-width: 100%;
        @include ellipsis;

        &:disabled {
          opacity: 1;
          color: disabled-color();
        }

        &[rel="unbook"] {
          color: $green;
        }
      }
    }
  }

  &:not([data-state*="selected"]) button[rel="unbook"],
  &[data-state*="available"] button[rel="limited"],
  &[data-state*="restricted"] button[rel="limited"],
  &[data-state*="selected"] button[rel="limited"],
  &[data-state*="limited"] button[rel="book"],
  &[data-state*="unavailable"] button[rel="book"],
  &[data-state*="selected"] button[rel="book"] {
    display: none;
  }

  &[data-state*= "restricted"],
  &[data-state*= "unavailable"],
  &[data-state*= "limited"] {
    opacity: $disabled-alpha;

    .buttons button:disabled {
      opacity: 1;
      color: secondary-color();
    }
  }
}

.itinerary.editor {
  @include position(fixed, $page-header-height-mobile 0rem 0rem 0rem);
  @include display(flex);
  @include flex-direction(column);

  > .days {
    @include flex(1);
    overflow-y: auto;
    padding: 1rem;
  }

  > aside {
    @include flex-shrink(0);
    background: $cyan-100;
    padding: 1rem;

    li {
      @include display(flex);
      @include align-items(center);
      white-space: nowrap;

      > * {
        @include flex(1);
      }

      .progress {
        @include flex(2);
        position: relative;
        height: 0.25rem;
        margin-right: 1rem;
        background: divider-color();
        border-radius: 1px;

        .bar {
          @include position(absolute, 0rem null 0rem 0rem);
          background-color: $green;
          max-width: 100%;
          border-radius: 1px;
          @include transition(width, $fast, $ease-out-cubic);
        }
      }
    }
  }

  @include media($medium-screen) {
    top: $page-header-height;

    > aside {
      padding: 1rem $page-gutter;
    }

    .days {
      padding: 1rem $page-gutter;
    }
  }
}

.activity-details {
  .dialog-wrapper {
    position: absolute;
    right: auto;
    bottom: auto;
    @include transition(none);
    @include transform(none);
  }

  .dialog-container {
    @include flex(1);
    @include display(flex);
    @include flex-direction(column);
    min-width: 0;
    @include transition(border-radius $medium $ease-out-cubic);
  }

  .dialog-content {
    @include flex(1);
    padding: 0;

    header {
      position: relative;
      overflow: hidden;

      .header-color {
        @include position(absolute, 0rem 0rem 0rem 0rem);
        z-index: 1;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &::after {
        content: "";
        opacity: 0;
        @include position(absolute, 0rem 0rem 0rem 0rem);
        @include linear-gradient(rgba(0, 0, 0, 0), dark-scrim-color());
        @include transition(opacity $medium $ease-out-cubic);
      }

      h4 {
        @include position(absolute, null 0rem 0rem 0rem);
        z-index: 2;
        opacity: 0;
        margin: 0;
        padding: 1rem 3.5rem 1rem 1rem;
        font-weight: $bold-font-weight;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: white;
        @include transition(opacity $medium $ease-out-cubic);
      }

      [rel="cancel"] {
        @include position(absolute, 0rem 0rem null null);
        z-index: 3;
        color: white;
        padding: 1rem;
      }
    }

    .description {
      padding: 1rem;
    }
  }

  .dialog-footer {
    @include justify-content(space-between);
    border-top: $base-border;
    padding-top: 0.4375rem;

    button:not([rel="book"]) {
      display: none;
    }
  }

  &.in {
    .dialog-container {
      border-radius: 0;
    }

    .dialog-content header {
      h4, &::after {
        opacity: 1;
      }
    }

    .dialog-footer button {
      display: block;
    }
  }
}
