header.page-header {
  @include position(fixed, 0rem 0rem null 0rem);
  @include display(flex);
  @include justify-content(flex-start);
  @include align-items(center);
  z-index: $page-header-z-index;
  height: $page-header-height-mobile;
  background: $page-header-background;
  color: $page-header-color;
  padding-right: 1rem;

  [for="show-sidebar"] {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    overflow: hidden;

    img {
      display: block;
      margin: -0.5rem;
      width: 2.5rem;
      height: auto;
      max-width: none;
    }

    i {
      color: icon-color($white);
    }
  }

  .logo {
    @include flex(1);
    @include display(flex);
    @include align-items(baseline);

    font-size: 1rem;
    margin: 0 0 0 0.25rem;
    color: $white;

    .see-you-all {
      text-transform: uppercase;
      &:not(.short) { display: none; }
    }

    .see-you-all, .at {
      margin-right: 0.25rem;
    }

    .at {
      @include position(relative, -0.0625em null null null);
    }

    .event-name {
      @include flex(1);
      color: $white;
    }

    .your-event-here {
      @include flex(1);
      color: secondary-color($white);
      border-bottom: 1px solid secondary-color($white);

      &.has-event {
        color: $white;
        font-weight: $bold-font-weight;
      }
    }
  }

  h2 {
    @include flex(1);
    @include ellipsis;
    margin: 0;
    font-size: 1.5em;
  }
}

main {
  padding-top: ($page-header-height * 0.875 + 1rem);
}

@include media($medium-screen) {
  header.page-header {
    height: $page-header-height;
    padding-right: $page-gutter;

    [for="show-sidebar"] {
      padding: 0.75rem;

      img {
        margin: -0.75rem;
        width: 3rem;
      }

      &:hover i {
        color: $white;
      }
    }

    .logo {
      margin-left: 0.5rem;
      font-size: 1.25rem;

      .see-you-all {
        &:not(.short) { display: block; }
        &.short { display: none; }
      }
    }
  }

  main {
    padding-top: ($page-header-height + 1rem);
  }
}
