.payment-methods {
  padding: 0 0.5rem;

  label {
    div {
      margin-left: 1rem;

      h4 {
        font-weight: $bold-font-weight;
      }

      p {
        margin: 0;
      }
    }
  }

  :checked + label {
    div h4 {
      color: $white;
    }
  }
}

.payment-pending,
.payment-approved,
.payment-declined {
  svg {
    width: 25%;
    max-width: 10rem;
    display: block;
    margin: 0 auto 1rem;

    circle.outer {
      fill: $grey-100;
    }

    circle.dot {
      fill: $green;
    }
  }

  &.payment-approved svg polyline { stroke: $green; }
  &.payment-declined svg path { fill: $error-color; }

  h1, p {
    text-align: center;
  }

  p {
    margin: 0 auto 1rem;
    max-width: 18rem;
  }

  dl {
    margin: 0 auto 1rem;
    background: $grey-200;
    padding: 1rem;
    border-radius: $base-border-radius;
    @include display(flex);
    @include flex-wrap(wrap);

    dt {
      @include flex(1 1 40%);
      margin: 0 1rem 0 0;
      padding: 0;
    }

    dd {
      @include flex(1 1 50%);
      margin: 0;
      padding: 0;
    }
  }

  .button {
    display: block;
    text-align: center;
    margin: 0 auto 1rem;
    max-width: 20rem;
  }

  @include media($medium-screen) {
    dl {
      width: 75%;
      max-width: 20rem;
    }
  }
}

.payments-list {
  @include position(fixed, $page-header-height-mobile 0rem 0rem 0rem);
  @include media($medium-screen) { top: $page-header-height; }
  @include display(flex);
  @include flex-direction(column);
  overflow: hidden;

  header {
    background: $page-header-background;
    color: $white;
  }

  footer {
    background: $page-header-background;
    color: $white;
    padding: 0.5rem 1rem;

    @include media($medium-screen) {
      padding: 0.5rem $page-gutter;
    }
  }

  .table-container,
  .table-and-footer {
    @include flex(1);
    @include display(flex);
    @include flex-direction(column);
  }

  .scrolling-table {
    @include flex(1);
    height: 100px;
    overflow-y: auto;
    padding: 1rem;

    @include media($medium-screen) {
      padding: 1rem $page-gutter;
    }
  }

  table {
    table-layout: auto;
    margin: 0;
  }

  table.loading,
  tr.loading {
    opacity: 0.5;
    pointer-events: none;
  }

  td:first-child {
    width: 2em;
  }

  td:last-child {
    width: 6rem;
  }

  tr[data-state="approved"],
  tr[data-state="declined"] {
    color: secondary-color();
  }

  .name {
    @include ellipsis;
    display: block;
  }

  a[href^="mailto:"] {
    @include ellipsis;
    display: block;
    font-size: 0.75rem;
  }

  tfoot td {
    padding-top: 1rem;
    border-bottom: none;
  }
}
