.registration-form {
  .name-and-email {
    margin-bottom: 0;

    section {
      min-width: 75%;
    }
  }

  .packages {
    @include display(block);
    padding: 0 0.5rem;

    h4 {
      margin: 0 1rem;
      @include flex(1);
      @include align-self(center);
    }

    .price {
      font-size: 1.25rem;
      line-height: 2rem;
      font-weight: $bold-font-weight;
      min-width: 6em;

      abbr {
        color: secondary-color();
      }
    }

    label:hover .price {
      color: $action-color;
    }

    label:hover .price abbr {
      color: secondary-color($action-color);
    }

    :checked + label {
      .price {
        color: $white;
        abbr { color: secondary-color($white); }
      }
    }
  }
}

.registration-balance {
  table {
    border-top: $base-border;
  }

  td {
    border-bottom: $base-border;
    vertical-align: top;
    padding-right: 0;

    &:first-child {
      width: 100%;
    }

    &:nth-last-child(2) {
      width: 2em;
      color: secondary-color();
    }

    &:last-child {
      text-align: right;
      width: 30%;
      min-width: 6em;
      padding-right: 0;
    }
  }

  .discounted {
    td {
      border-bottom: none;
    }

    td:not(:first-child) {
      abbr, .money {
        display: block;
        position: relative;
        color: $red;

        &::after {
          content: "";
          @include position(absolute, 50% -0.5em null -0.5em);
          border-top: 1px solid $red;
        }
      }
    }

    + tr {
      td:first-child {
        padding-left: 2em;
        color: secondary-color();
      }
    }
  }

  .payment td {
    border-bottom-style: dotted;
  }

  tfoot td {
    font-weight: $bold-font-weight;
  }
}

.money {
  abbr {
    color: secondary-color();
    padding-right: 0.5em;
  }
}

.registration-status {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  margin: 0 -0.5rem;

  h1 {
    @include flex-basis(100%);
    margin: 0 0.5rem 1rem;
  }

  .message {
    padding: 1.5rem 0;
    margin: 0 0.5rem;
    @include flex(1 1 16rem);

    .button {
      width: 100%;
    }
  }

  .registration-balance {
    @include flex(1 1 16rem);
    margin: 0 0.5rem;
    padding: 1rem;
    background: #FAFAFA;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    border-radius: $base-border-radius;

    table {
      margin: 0;
      border-top: none;

      tr td:first-child {
        padding-right: 1rem;
      }

      tr:first-child td {
        border-top: none;
      }

      tfoot td {
        border-bottom: none;
      }
    }
  }
}
