#show-sidebar {
  display: none;

  ~ .scrim {
    @include position(fixed, 0rem 0rem 0rem 0rem);
    @include transition(opacity $medium $ease-out-cubic);
    z-index: ($sidebar-z-index - 1);
    margin: 0;
    background: dark-scrim-color();
    opacity: 0;
    pointer-events: none;
  }

  &:checked {
    ~ .scrim {
      opacity: 1;
      pointer-events: auto;
    }

    ~ main {
      @include filter(blur(2px));
    }
  }
}

aside.sidebar {
  @include position(fixed, 0rem null 0rem 0rem);
  @include transform(translateX(-100%));
  @include transition-property(transform, box-shadow);
  @include transition-duration($medium, $fast);
  @include transition-delay(0s, $fast);
  @include transition-timing-function($ease-out-cubic);
  z-index: $sidebar-z-index;
  width: 82.5%;
  max-width: 20rem;
  @include media($medium-screen) { max-width: 25rem; }
  background: white;
  overflow-y: auto;

  #show-sidebar:checked ~ & {
    @include transform(translateX(0));
    box-shadow: $side-z1-shadow;
  }

  header {
    display: block;
    padding-top: 56.25%; // 16:9
    box-sizing: border-box;
    border-bottom: 1px solid divider-color();
    position: relative;
    background: $accent-600;

    .gravatar {
      position: absolute;
      left: 1rem;
      bottom: 4rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    .popup {
      margin-top: -4rem;
      height: 4rem;

      .popup-toggle {
        @include transition(none);
        color: text-color($white);
        background: $sidebar-header-background;
        font-weight: $bold-font-weight;
        border-bottom: none;
        height: 4rem;
        @include align-items(center);

        .popup-toggle-label {
          padding-left: 1rem;

          .name, .email {
            display: block;
          }

          .email {
            font-weight: $base-font-weight;
          }
        }
      }

      .popup-menu {
        top: 3.5rem;
        left: 0.5rem;
        right: 0.5rem;
        padding-top: 0;
        border-bottom: 1px solid divider-color();

        .action-list {
          border-top: none;
          margin-top: 1px;

          a {
            padding: 0;
          }
        }
      }
    }

    form {
      @include position(absolute, null 1rem 1rem 1rem);

      input {
        margin: 0;
        box-shadow: none;
        background: none;
        color: text-color(white);
        border-color: secondary-color(white);
        -webkit-font-smoothing: auto;

        &:focus {
          border-color: text-color(white);
        }

        &[type="password"] {
        }

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px $sidebar-header-background inset;
          -webkit-text-fill-color: text-color(white);
        }

        @include placeholder {
          color: secondary-color(white);
        }
      }

      button {
        margin: 0.5rem 0 0;
        width: 100%;
      }
    }
  }

  section {
    border-top: $base-border;
    padding: 1rem 0;

    h4 {
      padding: 0 1rem;
      margin: 0 0 0.5rem;
      font-weight: $bold-font-weight;
      color: secondary-color();

      &:not(:first-of-type) {
        margin-top: 1rem;
      }
    }
  }

  header + section {
    border-top: none;
  }
}

main {
  @include transition-property(filter);
  @include transition-duration($medium);
  @include transition-timing-function($ease-out-cubic);
}
